.section-step {
  text-transform: uppercase;
  color: rgba(255,255,255,0.8);
}

.section-step span {
  font-weight: bold;
  color: rgba(255,255,255,0.5);
}

.slider {
  margin: 10px auto;
}

span.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #aaa;
  margin: 0 10px;
  display: inline-block;
  cursor: pointer;
}

.step-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.step-info {
  position: fixed;
  bottom: 0;
}

.image-bg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
}
