.crew-description-container {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.crew-description-container > h2 {
  text-transform: uppercase;
}

.crew-description-container > h2,
.crew-description-container > p {
  padding: 10px 0;
}

.crew-description-container > p {
  margin: 0 auto;
}
