.home-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.travel-info {
  position: fixed;
}

.description {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.description > h2,
.description > p {
  padding: 20px 0;
}

.description > h2:first-child {
  font-size: 1rem;
}

.desc-main-title {
  text-transform: uppercase;
}

.description > p {
  margin: 0 auto;
}

.travel-info .explore {
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore-to {
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
