.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 30;
  height: 80px;
  overflow: hidden;
}

.navigation-links {
  padding: 20px 30px;
  background-color: rgba(0,0,0,0.2);
}

.nav-items > li {
  padding: 20px 10px;
  margin: 0 10px;
}

.nav-items li a > span {
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-items li > a {
  color: rgba(255,255,255,0.8);
  text-transform: uppercase;
}
