@media only screen and (max-width: 687px) {
  .hamburger {
    display: block;
  }
  .navigation-links {
    display: none;
  }
  .dropdown-navigation-links {
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    margin-top: 4rem;
    z-index: 20;
    height: calc(100% - 80px);
  }
}
